body {
    margin: 0;
    font-family: sans-serif;
    background: #222;
    color: #ddd;
    text-align: center;
}
.App {
    width: 960px;
    margin: 0 auto;
}
h1 {
    color: #ffff57;
    font-size: 4em;
    letter-spacing: 2px;
}
button {
    margin: 0 10px;
    background: transparent;
    border: 3px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    color: #ccc;
    font-size: 1.2em;
    cursor: pointer;
}
button:hover {
    color: #fff;
    border-color: #fff;
}
.content {
    text-align: left;
}
.card {
    padding: 8px 16px;
    background: #1b1b1b;
    margin: 16px 0;
    border-radius: 20px;
}
.card p {
    margin: 6px 0;
    color: #999;
}
.card h3 {
    margin: 10px 0;
    color: #ffff57;
}
button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}
